* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

body {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-weight: 300;
    background: #d6d5d5;
    width: 100%;
    height: 100%;
}

.container {
    margin: 15% auto;
    padding: 80px 0;
    text-align: center;
}

form {
    position: relative;
}

form input {
    border: 2px solid gray;
    background-color: white;
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 300;
}

form button {
    appearance: none;
    outline: 0;
    background-color: #d6d5d5;
    border: 0;
    padding: 10px 15px;
    color: black;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
    margin-top: 20px;
}

form button:hover,
form button:active {
    background-color: #a4a3a3;
    color: black;
}

.login-register {
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-register h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.login-register p {
    font-size: 16px;
    color: black;
    margin-top: 15px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 2px solid #ccc;
    border-radius: 10px 10px 0 0;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
}

.menu-button {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    background: none;
    color: black;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    color: black;
    transition: left 0.3s ease-in-out;
    box-shadow: none;
    z-index: 999;
}

.hamburger-menu.open {
    display: flex;
    left: 0;
    box-shadow: 0 0 10px rgba(244, 244, 244, 0.5);
    background-color: white;
    color: black;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.menu-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin-top: 20px;
}

.menu-nav a {
    color: black;
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
}

.menu-nav a:hover {
    text-decoration: underline;
}

.top-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.bottom-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: flex-end;
}

.hamburger-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hamburger-menu li {
    margin: 10px 0;
}

.hamburger-menu a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.hamburger-menu button {
    background: none;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.hamburger-menu a:hover {
    color: #d6d5d5;
    text-decoration-line: none;
}

.logo {
    background-image: url("../image/logo.jpg");
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.header-container header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.children-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 120px;
    padding: 20px;
}

.children-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.child-card-link {
    text-decoration: none;
}

.child-card {
    width: 200px;
    height: 250px;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.child-card img {
    width: 100%;
    height: 190px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 10px;
}

.child-card h2 {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
    text-align: center;
    display: block;
    text-decoration-line: none;
    font-weight: bold;
    box-shadow: none;
}

.child-card:hover {
    transform: scale(1.05);
}

.add-child {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border: 2px dashed #ddd;
}

.add-child-icon {
    font-size: 40px;
    color: #888;
}

.add-child:hover {
    background-color: #eee;
    border-color: #bbb;
}